services:
  monitor-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=development
      - VITE_APP_LOG_API_URL=${VITE_APP_LOG_API_URL}
