services:
  monitor-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    environment:
      - NODE_ENV=production
      - VITE_APP_LOG_API_URL=${VITE_APP_LOG_API_URL}
    networks:
      - proxy

networks:
  proxy:
    external: true  